.chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    color: gray;
    height: 550px;
    background-color: white;
    min-width: 817px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;

    .top{

        .title{
            font-size: 18px;
            color: #0077b6;
            font-weight: 600;
        }

        .tab{
            display: flex;
            flex: 1;
            justify-content: center;

            .dropdown{
                margin: 0 10px 0 10px
            }
        }
    }

    .bottom{
        display: flex;
        justify-content: center;
    }
}